# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
Thumbs.db
